header{
   position: sticky;
   top:0;
   z-index:2;
   background-color: rgb(202, 183, 202); 
padding: 10px;
}

footer{
    position: fixed;
    bottom:0;
    z-index:2;
    padding: 10px;
    background-color: gray;
}
.name{
    display: inline-block;
    margin-right: 200px;

}

.date{
    display: inline-block;
    margin-left: 750px;
}

.headline{
    border-top: 20px;
    display: inline-block;
    margin-left: 5px;
    font-size: 30px;
    margin-right: 25%;
    margin-left: 40%;
    font-family: cursive;
    font: bold;
}
.First-page{
    border-top: 20px;
    margin-left: 5px;
    border: 2px solid black;
    display: inline-block;
    border-radius: 5px;
    
}
.Second-page{
    border-top: 20px;
    margin-left: 5px;
    border: 2px solid black;
    display: inline-block;
    border-radius: 5px;


}
h1 {
    text-align: center;
    font-family: 'Rubik Vinyl', cursive;
    font-size: 100px;
  }

img{
    width: 100px;
    height: 100px;
    margin: 10px;
}
  
.Middle-picture{
    border: 2px solid black;
}

.Left-picture{
    border-radius: 4px solid black;
}

#Second_food{
    font-family:'Rubik Vinyl', cursive;
}

#Third_food{
    font-weight: bold;
}

a:visited{
    color:blue;
}

a:active{
    color: red;
}

button:hover{
    cursor: pointer;
    background-color: darkblue;
    font-size: larger;
}

.See-More{
    color: white;
    background-color: blue;
    padding: 8px;
    margin-bottom: 100px;
}


table, th, td {
    border: 1px solid purple;
    margin: 2px;
  }


body{
    background-color: rgb(238, 177, 192);
    font-family:cursive;
}