body{
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}


header{
   position: sticky;
   top:0;
   z-index:2;
   background-color: white; 
   color: rgb(42, 40, 40);
   display: flex;
   justify-content: flex-end;
   align-content: space-between;
   flex-wrap: wrap;
   align-items: center;}



.headline{
    border-top: 20px;
    display: inline-block;
    margin-left: 5px;
    font-size: 30px;
    margin-right: 25%;
    margin-left: 30%;
    font-family: cursive;
    font: bold;
}

.headerbuttons{
    display: inline-block;
    font-family: cursive;
}

section{
    display: flex;
    flex-direction: row;
}

.content{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    align-content: space-around;
    flex-direction: column;
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}
.content h3{
    text-align: center;
}
.content h4{
    text-decoration: underline;
}

.dark-mode{
    background-color: rgb(30, 28, 28);
    color: white;
    font-family:cursive;
    }



h1 {
    text-align: center;
    font-family: 'Rubik Vinyl', cursive;
    font-size: 100px;
  }

.gallery{
    display: flex;
    justify-content: space-around;
    margin: 20px;
}
img{
    width: 100px;
    height: 100px;
    margin: 10px;
    border-radius: 20px;
}
  
.Middle-picture{
    border: 2px solid black;
}

.Left-picture{
    border-radius: 4px solid black;
}


.favoriteFood{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}



#Second_food{
    font-family:'Rubik Vinyl', cursive;
}

#Third_food{
    font-weight: bold;
}

a:visited{
    color:blue;
}


.linkAndTable{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.linkAndTable a{
    padding: 10px;
}

a:active{
    color: red;
}

button:hover{
    cursor: pointer;
    font-size: larger;
    background-color: antiquewhite;
}
button:active{
    background-color: beige;
    color: cornflowerblue;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}
.See-More{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
#See-More{
    color: white;
    background-color: blue;
    padding: 8px;
    margin-bottom: 100px;

}


table, th, td {
    border: 1px solid purple;
    margin: 2px;
  }


body{
    background-color: rgb(238, 177, 192);
    font-family:cursive;
}

footer{
    position: fixed;
    bottom:0;
    z-index:2;
    width: 100vw;
    background-color: gray;
    display: flex;
    justify-content: space-between
}